﻿/* Neo_Chen's CSS stylesheet 
 *
 * Licensed Under GNU GPL v3
 */
html {
	border-width: 4pt;
	border-style: solid;
	background-color:#c0c0c0;
	color:black;
}

body {
	background-color:#c0c0c0;
	color:black;
}

h1 {
	font-family: Times, Courier ,serif;
	font-size:36pt;
	text-align: center;
	color:#000000;
	border-style: solid;
	border-width: 1pt;
	background-color:#008;
	color:#fff
}

h2 {
	font-family: Times,serif;
	font-size:20pt;
	text-align: left;
	color:#000000;
	border-style: solid;
	border-width: 1pt;
	background-color:#808080;
	color:#fff
}

.mono, p {
	font-family: Envy Code R,WenQuanYi Zen Hei Mono,monospace;
	font-size:12pt;
}

.msrf {
	font-family: Courier,DejaVu Serif,serif;
	font-size:9pt;
}

.msrfb {
	word-wrap:break-word; word-break:normal; 
	font-family: Courier,DejaVu Serif,serif;
	font-size:18pt;
}

.srf {
	font-family: Times,Times New Roman,DejaVu Serif,serif;
	font-size:9pt;
}

.srfb {
	font-family: Times,Times New Roman,DejaVu Serif,serif;
	font-size:18pt;
}

.srfb {
	font-family: Times,Times New Roman,DejaVu Serif,serif;
	font-size:18pt;
}

a:link {
	color: #008;
}

a:visited {
	color: #808;
}

a:hover {
	color: #000;
	background-color: #fff;
}

a:active {
	color: #088;
}

table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
	font-family: Envy Code R,WenQuanYi Zen Hei Mono,monospace;
	font-size:12pt;
}

.pre {
	white-space: pre;
	border-style: solid;
	border-width: 2px;
}

.whitebg {
	background-color: #fff;
}
